.cart-notification-count {
    position: absolute;
    top: -0px;
    right: 28px;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #5754FF;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}