*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style-type: none !important;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 85px 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Raleway' sans-serif;
}

section {
  width: 86%;
  padding: 0 7%;
  margin: 5rem auto;
  overflow-y: hidden !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: hidden;
}

a {
  color: inherit !important;
}